.app__sketch {
  position: relative;
}

.app__head {
  width: 75px;
  position: absolute;
  right: -30px;
  top: 58px;
}

.app__drop-bar {
  height: 60px;
  width: 15px;
  background: #000;
  margin-left: 142.5px;
  top: 0;
  right: 0;
  position: absolute;
  border-top-right-radius: 10px;
}

.app__top-bar {
  height: 15px;
  width: 300px;
  background: #000;
  margin-left: 142.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.app__middle-bar {
  height: 350px;
  width: 15px;
  background: #000;
  margin-left: 142.5px;
}

.app__bottom-bar {
  height: 15px;
  width: 300px;
  background: #000;
  border-radius: 10px;
}