.app__sketch {
  position: relative;
  margin-top: 5rem;

  @media screen and (max-height: 750px) {
    margin-top: 0;
  }
  @media screen and (min-height: 1000px) {
    margin-top: 7;
  }
}

.app__head {
  width: 75px;
  position: absolute;
  right: -30px;
  top: 58px;

  @media screen and (max-width: 750px) {
    width: 60px;
    top: 45px;
    right: -24px;
  }
  @media screen and (max-width: 500px) {
    width: 50px;
    top: 45px;
    right: -20px;
  }
  
}

.app__torso {
  width: 15px;
  height: 120px;
  background: #000;
  position: absolute;
  top: 130px;
  right: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media screen and (max-width: 750px) {
    width: 12px;
    height: 90px;
    top: 100px;
  }
  @media screen and (max-width: 500px) {
    width: 8px;
    height: 75px;
    top: 90px;
    right: 1px;
  }
}

.app__right-arm {
  width: 100px;
  position: absolute;
  top: 100px;
  right: -95px;

  @media screen and (max-width: 750px) {
    width: 80px;
    top: 80px;
    right: -75px;
  }
  @media screen and (max-width: 500px) {
    width: 60px;
    top: 75px;
    right: -55px;
  }
}

.app__left-arm {
  width: 100px;
  position: absolute;
  top: 100px;
  right: 10px;

  @media screen and (max-width: 750px) {
    width: 80px;
    top: 80px;
    right: 7px;
  }
  @media screen and (max-width: 500px) {
    width: 60px;
    top: 75px;
  }
}

.app__left-leg {
  width: 130px;
  position: absolute;
  top: 240px;
  right: -37.5px;

  @media screen and (max-width: 750px) {
    width: 90px;
    top: 182px;
    right: -25px;
  }
  @media screen and (max-width: 500px) {
    width: 75px;
    top: 160px;
    right: -21px;
  }
}

.app__right-leg {
  width: 130px;
  position: absolute;
  top: 240px;
  right: -77.5px;

  @media screen and (max-width: 750px) {
    width: 90px;
    top: 182px;
    right: -53px;
  }
  @media screen and (max-width: 500px) {
    width: 75px;
    top: 160px;
    right: -44px;
  }
}

.app__drop-bar {
  height: 60px;
  width: 15px;
  background: #000;
  margin-left: 142.5px;
  top: 0;
  right: 0;
  position: absolute;
  border-top-right-radius: 10px;

  @media screen and (max-width: 750px) {
    height: 50px;
    width: 12px;
  }
  @media screen and (max-width: 500px) {
    width: 10px;
  }
}

.app__top-bar {
  height: 15px;
  width: 300px;
  background: #000;
  margin-left: 142.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media screen and (max-width: 750px) {
    height: 12px;
    width: 200px;
    margin-left: 100px;
  }
  @media screen and (max-width: 500px) {
    height: 10px;
    width: 150px;
    margin-left: 72.5px;
  }

  
}

.app__middle-bar {
  height: 350px;
  width: 15px;
  background: #000;
  margin-left: 142.5px;

  @media screen and (max-width: 750px) {
    height: 300px;
    width: 12px;
    margin-left: 100px;
  }

  @media screen and (max-width: 500px) {
    height: 250px;
    width: 10px;
    margin-left: 72.5px;
  }
}

.app__bottom-bar {
  height: 15px;
  width: 300px;
  background: #000;
  border-radius: 10px;

  @media screen and (max-width: 750px) {
    height: 12px;
    width: 200px;
  }

  @media screen and (max-width: 500px) {
    height: 10px;
    width: 150px;
  }
}